@import "tailwindcss";

@theme {
  --color-brand-blue-100: oklch(0.95 0.05 256.06);
  --color-brand-blue-200: oklch(0.85 0.08 256.06);
  --color-brand-blue-300: oklch(0.75 0.1 256.06);
  --color-brand-blue-400: oklch(0.6 0.12 256.06);
  --color-brand-blue-500: oklch(0.4676 0.1472 256.06);
  --color-brand-blue-600: oklch(0.4 0.15 256.06);
  --color-brand-blue-700: oklch(0.3 0.14 256.06);
  --color-brand-blue-800: oklch(0.2 0.12 256.06);
  --color-brand-blue-900: oklch(0.12 0.08 256.06);

  --color-brand-white-500: oklch(0.9551 0 0);

  --h-header: 4rem;
  --w-sidebar-collapsed: 4rem;
  --w-sidebar-expanded: 16rem;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer dimensions {
  .h-header {
    height: var(--h-header);
  }

  .w-sidebar-collapsed {
    width: var(--w-sidebar-collapsed);
  }

  .w-sidebar-expanded {
    width: var(--w-sidebar-expanded);
  }
}
